extends ../layout

block conteudo
  .scope.inicio(ng-controller='Inicio')
    //
      Slider Start
    .tp-banner-container(ng-init='load()')
        .tp-banner
            ul
                //
                   SLIDE
                li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
                    //
                       MAIN IMAGE
                    img(src='librinke/img/slider/slide2.png', alt='', data-bgfit='cover', data-bgposition='center bottom', data-bgrepeat='no-repeat')
                    //
                       LAYERS
                    //
                       LAYER NR. 1
                    .tp-caption.lfl.largeblackbg.br-red(data-x='20', data-y='100', data-speed='1500', data-start='1200', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
                        | Librinke
                    //
                       LAYER NR. 2.0
                    .tp-caption.lfl.medium_bg_darkblue.br-green(data-x='20', data-y='200', data-speed='1500', data-start='1800', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power4.easeIn', data-captionhidden='off')
                        | Livros Educacionais
                    //
                       LAYER NR. 2.1
                    .tp-caption.lfl.medium_bg_darkblue.br-lblue(data-x='20', data-y='250', data-speed='1500', data-start='2100', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
                        | Parques Infantis
                    //
                       LAYER NR. 2.2
                    .tp-caption.lfl.medium_bg_darkblue.br-purple(data-x='20', data-y='300', data-speed='1500', data-start='2400', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
                        | Calçados Escolares
                    //
                       LAYER NR. 2.3
                    .tp-caption.lfl.medium_bg_darkblue.br-orange(data-x='20', data-y='350', data-speed='1500', data-start='2700', data-easing='Power4.easeOut', data-endspeed='500', data-endeasing='Power4.easeIn', style='z-index: 3;')
                        | Uniformes Escolares
            //
               Banner Timer
            .tp-bannertimer
    //
       Slider End

    //
       Main Content
    .main-content
      //
         Dishes Start
      .dishes.padd
        .container
          //
             Default Heading
          .default-heading
            //
               Crown image
            img.img-responsive(src='librinke/img/crown.png', alt='')
            //
               Heading
            h2 Lançamentos
            //
               Paragraph
            p
              | Nossos mais recentes produtos
            //
               Border
            .border

          if livros
            if livros.length
              .row
                each livro in livros.slice(0, 4)
                  .col-md-3.col-sm-6
                    .dishes-item-container
                      //
                         Image Frame
                      .img-frame
                        //
                           Image
                        img.img-responsive(src='#{livro.imagem.url}', alt='Capa ilustrativa')
                        //
                           Block for on hover effect to image
                        .img-frame-hover
                          //
                             Hover Icon
                          a(href='/produtos/#{livro._id}')
                            i.fa.fa-heart
                      //
                         Dish Details
                      .dish-details
                        //
                           Heading
                        h3 #{livro.titulo}

          if uniformes
            if uniformes.length
              .row
                each uniforme in uniformes.slice(0, 4)
                  .col-md-3.col-sm-6
                    .dishes-item-container
                      //
                         Image Frame
                      .img-frame
                        //
                           Image
                        img.img-responsive(src='#{uniforme.imagem.url}', alt='Foto ilustrativa')
                        //
                           Block for on hover effect to image
                        .img-frame-hover
                          //
                             Hover Icon
                          a(href='/produtos/#{uniforme._id}')
                            i.fa.fa-heart
                      //
                         Dish Details
                      .dish-details
                        //
                           Heading
                        h3 #{uniforme.titulo}

          if parques
            if parques.length
              .row
                each parque in parques.slice(0, 4)
                  .col-md-3.col-sm-6
                    .dishes-item-container
                      //
                         Image Frame
                      .img-frame
                        //
                           Image
                        img.img-responsive(src='#{parque.imagem.url}', alt='Foto ilustrativa')
                        //
                           Block for on hover effect to image
                        .img-frame-hover
                          //
                             Hover Icon
                          a(href='/produtos/#{parque._id}')
                            i.fa.fa-heart
                      //
                         Dish Details
                      .dish-details
                        //
                           Heading
                        h3 #{parque.titulo}

      //
         Dishes End