extends ../layout.jade

block conteudo
  div(ng-controller='Livros')
    .banner.padd
      .container
        img.img-responsive(src='/librinke/img/crown.png', alt='')
        h2.white Livros Didáticos
        ol.breadcrumb
          li
            a(href='/') Início
          li.active Livros
        .clearfix
    .inner-page.padd
        - var pagina = JSON.parse(conteudo)
        .shopping
          .container
            .shopping-content
              .row
                each livro in pagina.livros
                  if livro.imagem
                    - var img = JSON.parse(livro.imagem)
                    .col-md-3.col-sm-6
                      .shopping-item
                        a(href='/livros/#{livro._id}')
                          img.img-responsive(src='#{img.url}', alt='')
                        h4.pull-left
                        a(href='/livros/#{livro._id}') #{livro.titulo}
                        .clearfix
                        p Categoria: #{livro.categoria}
                        p Editora: #{livro.editora}
