extends ../layout

block conteudo
    // Page heading two starts
    .page-heading-two
        .container
            h2
                | Headings
                span Something goes here
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .breads
                | Home /
                a(href='#') Page
                |  /
                a(href='#') Sub Page
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .clearfix
    // Page heading two ends
    .container
        // Actual content
        .ecommerce
            // Shopping items content
            .shopping-content
                // Block Title
                h4
                    i.fa.fa-shopping-cart.color
                    | &nbsp; View Cart&nbsp;
                    small Quine Poor Squamo
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                hr
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .shopping-vcart.table-responsive
                    // Table
                    table.table.table-bordered
                        thead
                            tr
                                th #
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                th Foto Principal
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                th Produto
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                th Quantidade
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                th Valor Unitário
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                th Total
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        tbody
                            for item, index in carrinho.items
                                tr
                                    // Index
                                    td #{index + 1}
                                    // Product image
                                    td
                                        a(href='/produtos/#{item.produto._id}')
                                            img.img-responsive(src='#{item.produto.imagem.url}', alt='')
                                    // Product  name
                                    td
                                        a(href='/produtos/#{item.produto._id}') #{item.produto.titulo}
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    // Quantity with refresh and remove button
                                    td
                                        .input-group.input-group-sm
                                            input.form-control(type='text', placeholder='#{item.quantidade}')
                                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                            span.input-group-btn
                                                button.btn.btn-info(type='button')
                                                    i.fa.fa-refresh
                                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                                button.btn.btn-danger(type='button')
                                                    i.fa.fa-times
                                    // Unit price
                                    td R$ #{item.produto.valor}
                                    // Total cost
                                    td R$ #{item.produto.valor * item.quantidade }
                                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                // Buttons
                span.pull-right
                    a.btn.btn-color(href='ecom-checkout.html') Finalizar
                    | &nbsp;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    a.btn.btn-default(href='#') Limpar
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .clearfix
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            br
            // Recent items Starts
            .recent-items
                // Block heading two
                .block-heading-two
                    h3
                        span Recent Items
                // Owl carousel block starts
                // Change values of data-items, data-auto-play, data-pagination & data-single-item based on your needs
                .owl-carousel(data-items='5', data-auto-play='true', data-pagination='true', data-single-item='false')
                    // Carousel item
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/1.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Motorola G
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/2.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Google Nexus 7
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/3.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Samsung Galaxy
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/4.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Lenovo Phonepad
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/5.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Asus Ideapad
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/6.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Micromax Canvas
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/7.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Sony Xperia Pro
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/8.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Apple iPhone 5S
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/9.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Galaxy Tab 2
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .owl-content
                        .padd-15
                            a(href='#')
                                img.img-responsive(src='img/ecommerce/items/10.png', alt='')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#')
                                    | Karboon Tab
                                    span.color.pull-right $25
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .clearfix
                // Owl carousel block ends
            // Recent items Ends
