extends ../layout

block conteudo
  //
   Banner Start
  .banner.padd
    .container
      //
         Image
      img.img-responsive(src='/librinke/img/crown.png', alt='')
      //
        Heading
      h2.white #{produtos[0].tipo}
      ol.breadcrumb
        li
          a(href='/') Início
        li
          a(href='/produtos') Produtos
        li.active #{produtos[0].tipo}
      .clearfix
  //
     Banner End
  //
     Inner Content
  .inner-page.padd
      .shopping
        .container
          .shopping-content
            .row
              each produto in produtos
                if produto.imagem
                  .col-md-3.col-sm-6
                    .shopping-item
                      a(href='/produtos/#{produto._id}')
                        img.img-responsive.img-thumbnail(src='#{produto.imagem.url}', alt='')
                      h4.pull-left
                      a(href='/produtos/#{produto._id}') #{produto.titulo}
                      .clearfix
                      p Categoria: #{produto.categoria}
