extends ../layout

block conteudo
  - var pagina = JSON.parse(conteudo)
  header#home.header
    #main-nav.navbar.navbar-inverse.bs-docs-nav(role='banner')
      .container
        .navbar-header.responsive-logo
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Navegação
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') 
            span 
              | NXT Challenger

        nav.navbar-collapse.bs-navbar-collapse.collapse(role='navigation', style='height: 1px;')
          ul.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list
            li
              a(href='#home') Início

            li
              a(href='#aboutus') A Empresa

            if pagina.livros
              if pagina.livros.length
                li
                  a(href='#products') Livros

            li
              a(href='#contact') Contato

    #main-wrapper(ng-controller='Inicio')
      section#product.products(data-type='background', data-speed='1')
        .color-overlay
          .container
            .section-header
              h2.white-text Livros
              h6.white-text
                | Livros com selo NXT Challenger
            .row.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
              each livro in pagina.livros
                if livro.imagem
                  - var capa = JSON.parse(livro.imagem)
                  //
                     Inner Content
                  .inner-page.padd
                    //
                       Single Item Start
                    .single-item
                      .container
                        //
                           Shopping single item contents
                        .single-item-content
                          .row
                            .col-md-4.col-sm-5
                              //
                                 Product image
                              img.img-responsive.img-thumbnail(src="#{img.url}", alt='')
                            .col-md-8.col-sm-7
                              //
                                 Heading
                              h3
                                | #{livro.titulo}
                              .row
                                .col-md-7.col-sm-12
                                  //
                                     Single item details
                                  .item-details
                                    //
                                       Paragraph
                                    div.text-justify
                                      | !{livro.descricao}
                                    //
                                       Heading
                                    h5 Detalhes
                                    //
                                       Recipe ingredients
                                    ul.list-unstyled
                                      li
                                        i.fa.fa-check
                                        | Código
                                        span.pull-right
                                          | #{livro.codigo}
                                        .clearfix
                                      li
                                        i.fa.fa-check
                                        | Categoria
                                        span.pull-right
                                          | #{livro.categoria}
                                        .clearfix
                                      li
                                        i.fa.fa-check
                                        | Editora
                                        span.pull-right
                                          | #{livro.editora}
                                        .clearfix
                                .col-md-5.col-sm-12
                                  //
                                     Form inside table wrapper
                                  .table-responsive
                                    //
                                       Ordering form
                                    form(role='form')
                                      //
                                         Table
                                      table.table.table-bordered
                                        tr
                                          td Valor Unitário
                                          td R$ 0,00
                                    //
                                      / Table End
                                  //
                                    / Table responsive class end
                              //
                                / Inner row end
                    //
                       Single Item End