extends ../layout

block conteudo
  // Page heading two starts
  .page-heading-two
    .container
      h2
        | #{produtos.length > 0 ? produtos[0].tipo : ''}
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .breads
        | Início /
        a(href='/produtos') Produtos
        |  /
        if produtos.length > 0
            a(href='/produtos?tipo=#{produtos[0].tipo}') #{produtos[0].tipo}
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .clearfix
  // Page heading two ends

  // Shopping Items
  .container
    .ecommerce
      .row
        .col-md-12
          // Shopping items content
          .shopping-content
            // Block Title
            h4
              i.fa.fa-laptop.color
              if produtos.length
                  | &nbsp; #{produtos[0].tipo}
                  small &nbsp; #{produtos[0].categoria}
              else
                  | &nbsp; Produtos
                  small &nbsp; listando todas as categorias
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            hr
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .row
                if produtos.length > 0
                  each produto in produtos
                      if produto.imagem
                          .col-md-3
                            // Shopping items
                            .shopping-item
                              // Image
                              a(href='/produtos/#{produto._id}')
                                img.img-responsive(src='#{produto.imagem.url}', alt='')
                              // Shopping item name / Heading
                              h4
                                a(href='/produtos/#{produto._id}') #{produto.titulo}
                                span.color.pull-right.hidden R$ #{produto.valor}
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              .clearfix
                              // Buy now button
                              .visible-xs
                                a.btn.btn-color.btn-sm(href='#') Comprar
                              // Shopping item hover block & link
                              .item-hover.bg-color.hidden-xs
                                a(href='#') Add to cart
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                else
                    .alert.alert-info
                        | Sem produtos cadastrados.

                    .img-box-3.text-center
                        .row
                            .col-md-3.col-sm-6
                                // Image Box #3 Item
                                .img-box-3-item
                                    .img-box-3-icon.bg-red
                                        a(href='/produtos?tipo=Brinquedos')
                                            img.img-responsive(src='/publiciti/img/flat-icons/20.png', alt='')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    h4
                                        a(href='/produtos?tipo=Brinquedos') Brinquedos
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .bor.bg-red
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    p
                                        | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-md-3.col-sm-6
                                // Image Box #3 Item
                                .img-box-3-item
                                    .img-box-3-icon.bg-blue
                                        a(href='/produtos?tipo=Livros')
                                            img.img-responsive(src='/publiciti/img/flat-icons/14.png', alt='')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    h4
                                        a(href='/produtos?tipo=Livros') Livros
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .bor.bg-blue
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    p
                                        | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-md-3.col-sm-6
                                // Image Box #3 Item
                                .img-box-3-item
                                    .img-box-3-icon.bg-orange
                                        a(href='/produtos?tipo=Materiais Esportivos')
                                            img.img-responsive(src='/publiciti/img/flat-icons/22.png', alt='')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    h4
                                        a(href='/produtos?tipo=Materiais Esportivos') Materiais Esportivos
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .bor.bg-orange
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    p
                                        | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            .col-md-3.col-sm-6
                                // Image Box #3 Item
                                .img-box-3-item
                                    .img-box-3-icon.bg-green
                                        a(href='/produtos?tipo=Parques')
                                            img.img-responsive(src='/publiciti/img/flat-icons/19.png', alt='')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    h4
                                        a(href='/produtos?tipo=Parques') Parques
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    .bor.bg-green
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    p
                                        | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    .divider-1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    | &#x9;&#x9;&#x9;&#x9;&#x9;

            if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
              // Pagination
              ul.pagination
                  if paginate.hasPreviousPages
                      li
                        a(href=paginate.href(true)) &laquo;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

                  - var page = 1;
                  while page <= pageCount
                      li
                        a(href=paginate.href({ page: page}))
                          | #{page++}
                          span.sr-only (current)
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

                  if paginate.hasNextPages(pageCount)
                      li
                        a(href=paginate.href()) &raquo;
            // Pagination end
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

      // Recent items Starts
      .recent-items
        // Block heading two
        .block-heading-two
          h3
            span Produtos recentes
        // Owl carousel block starts
        // Change values of data-items, data-auto-play, data-pagination & data-single-item based on your needs
        .owl-carousel(data-items='5', data-auto-play='true', data-pagination='true', data-single-item='false')
          each item in novidades
              if item.imagem
                  // Carousel item
                  .owl-content
                    .padd-15
                      a(href='#')
                        img.img-responsive(src='#{item.imagem.url}', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      h4
                        a(href='#')
                          | #{item.titulo}
                          span.color.pull-right.hidden R$ #{item.valor}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .clearfix
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        // Owl carousel block ends
      // Recent items Ends
