extends ../layout

block conteudo
  // Page heading two starts
  .page-heading-two
    .container
      h2
        | #{produtos[0].tipo}
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .breads
        | Início /
        a(href='/produtos') Produtos
        |  /
        a(href='/produtos?tipo=#{produtos[0].tipo}') #{produtos[0].tipo}
      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
      .clearfix
  // Page heading two ends

  // Shopping Items
  .container
    .ecommerce
      .row
        .col-md-12
          // Shopping items content
          .shopping-content
            // Block Title
            h4
              i.fa.fa-laptop.color
              | &nbsp; #{produtos[0].tipo}
              small &nbsp; #{produtos[0].categoria}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            hr
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .row
              each produto in produtos
                  if produto.imagem
                      .col-md-3
                        // Shopping items
                        .shopping-item
                          // Image
                          a(href='/produtos/#{produto._id}')
                            img.img-responsive(src='#{produto.imagem.url}', alt='')
                          // Shopping item name / Heading
                          h4
                            a(href='/produtos/#{produto._id}') #{produto.titulo}
                            span.color.pull-right R$ #{produto.valor}
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                          .clearfix
                          // Buy now button
                          .visible-xs
                            a.btn.btn-color.btn-sm(href='#') Comprar
                          // Shopping item hover block & link
                          .item-hover.bg-color.hidden-xs
                            a(href='#') Add to cart
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

            // Pagination
            ul.pagination
              li.disabled
                a(href='#') &laquo;
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.active
                a(href='#')
                  | 1
                  span.sr-only (current)
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') 2
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') 3
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') 4
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') 5
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') &raquo;
            // Pagination end
        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;

      // Recent items Starts
      .recent-items
        // Block heading two
        .block-heading-two
          h3
            span Produtos recentes
        // Owl carousel block starts
        // Change values of data-items, data-auto-play, data-pagination & data-single-item based on your needs
        .owl-carousel(data-items='5', data-auto-play='true', data-pagination='true', data-single-item='false')
          each item in novidades
              if item.imagem
                  // Carousel item
                  .owl-content
                    .padd-15
                      a(href='#')
                        img.img-responsive(src='#{item.imagem.url}', alt='')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      h4
                        a(href='#')
                          | #{item.titulo}
                          span.color.pull-right R$ #{item.valor}
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      .clearfix
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        // Owl carousel block ends
      // Recent items Ends
