extends ../layout

block conteudo
  .scope
    //
       ======== @Region: #highlighted ========
    #highlighted
      .container
        .header
          h2.page-title
            span Oportunidades
            small Oportunidades de trabalho
    //
       ======== @Region: #content ========
    #content(ng-controller='Oportunidades')
      .container
        .row
          //
             main
          .col-md-8
            ul.thumbnails.list-unstyled.row
              if empregos.length
                each emprego in empregos
                  li.col-sm-12
                    h4
                      a(href='/oportunidades/#{emprego._id}') #{emprego.titulo}
                    span
                      | !{emprego.descricao}

                    ul.list-unstyled.meta.text-muted
                      li
                        i.glyphicon.glyphicon-calendar
                        span.visible-md-inline.visible-lg-inline &nbsp;Salário:&nbsp;
                        | R$ #{emprego.salario}
                      li
                        i.glyphicon.glyphicon-tags
                        span.visible-md-inline.visible-lg-inline &nbsp;Tags:&nbsp;
                        | #{emprego.tags}
                    hr

          //
             sidebar
          .col-md-4.sidebar.sidebar-right
            .inner
              h2.block-title
                | Faça parte da equipe
              p
                | Se interessou por alguma vaga?
              .block.mdrs
                a.btn.btn-block.btn-info(href='/curriculos')
                  i.fa.fa-download &nbsp;
                  | Envie seu currículo
                a.btn.btn-block.btn-success(href='/contato')
                  i.fa.fa-envelope-o &nbsp;
                  | Entre em contato
    //
      #content

    if parceiros
      //
         ======== @Region: #content-below ========
      #content-below.wrapper
        .container
          .clients.block
            h3.block-title
              span Parceiros
            ul.thumbnails.list-unstyled.row
              each parceiro in parceiros
                if parceiro.imagem
                  li.col-sm-3
                    a._tooltip(href='#{parceiro.url}', data-placement='top', data-original-title='#{parceiro.nome}', title='#{parceiro.nome}')
                      img.img-rounded(src='#{parceiro.imagem.url}', alt='logo')
                    h4
                      a._popover(href='/parceiros/#{parceiro._id}', data-content='#{parceiro.nome}', data-original-title='#{parceiro.nome}') #{parceiro.nome}
