extends ../layout

block conteudo
    .container
        // Carousel
        //
          Bootstrap carousel usage
          Bootstrap carousel should have id. Below i am using "bs-carousel-X". Where "X" denotes number". If a page has more than 1 carousel, then add the new carousel with the id "bs-carousel-1", "bs-carousel-2". You also need to update the id in, "carousel indicators" section and "carousel control" section.
          Carousel comes with 3 main data attributes which you can customize. They are...
          data-interval - Time delay between item cycle. Default value "5000".
          data-pause - Pause on hover. Default value "pause".
          data-wrap - Continues cycle or stop at the end. Default value "true".
        // Outer layer
        #bs-carousel-2.carousel.slide(data-ride='carousel', data-interval='5000', data-pause='hover', data-wrap='true')
            // Slides. You can also add captions
            .carousel-inner
                // Item, First item should have extra class "active"
                .item.active
                    // Image
                    img(src='/publiciti/img/backgrounds/banner1.jpg', alt='')
                    // Caption
                    .carousel-caption.c-middle-left.hidden
                        // Heading
                        h4
                            a(href='#') Some heading here
                        // Para
                        p
                            | Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .item
                    img(src='/publiciti/img/backgrounds/banner2.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .carousel-caption.c-middle-right.hidden
                        // Heading
                        h4
                            a(href='#') Some heading here
                        // Para
                        p
                            | Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .item
                    img(src='/publiciti/img/backgrounds/banner3.jpg', alt='')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .carousel-caption.c-bottom-left.hidden
                        // Heading
                        h4
                            a(href='#') Some heading here
                        // Para
                        p
                            | Nemo enim ipsam voluptatem quia voluptas sit it aut fugit, sed quia neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur.
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        br

        // Block heading five
        .block-heading-five.hidden
            h3
                | Bem vindo ao site da Publiciti
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;

        hr.hidden
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .img-box-3.text-center
            .row
                .col-md-3.col-sm-6
                    // Image Box #3 Item
                    .img-box-3-item
                        .img-box-3-icon.bg-red
                            a(href='/produtos?tipo=Brinquedos')
                                img.img-responsive(src='/publiciti/img/flat-icons/20.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h4
                            a(href='/produtos?tipo=Brinquedos') Brinquedos
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .bor.bg-red
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        p
                            | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Image Box #3 Item
                    .img-box-3-item
                        .img-box-3-icon.bg-blue
                            a(href='/produtos?tipo=Livros')
                                img.img-responsive(src='/publiciti/img/flat-icons/14.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h4
                            a(href='/produtos?tipo=Livros') Livros
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .bor.bg-blue
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        p
                            | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Image Box #3 Item
                    .img-box-3-item
                        .img-box-3-icon.bg-orange
                            a(href='/produtos?tipo=Materiais Esportivos')
                                img.img-responsive(src='/publiciti/img/flat-icons/22.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h4
                            a(href='/produtos?tipo=Materiais Esportivos') Materiais Esportivos
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .bor.bg-orange
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        p
                            | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Image Box #3 Item
                    .img-box-3-item
                        .img-box-3-icon.bg-green
                            a(href='/produtos?tipo=Parques')
                                img.img-responsive(src='/publiciti/img/flat-icons/19.png', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h4
                            a(href='/produtos?tipo=Parques') Parques
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        .bor.bg-green
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        p
                            | Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .divider-1
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .block-heading-two
            h3
                span Produtos Recentes
        // Owl carousel block starts
        // Owl navigation
        .owl-nav
            a.owl-nav-prev
                i.fa.fa-chevron-left
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            a.owl-nav-next
                i.fa.fa-chevron-right
        // Change values of data-items, data-auto-play, data-pagination & data-single-item  based on your needs
        .owl-carousel(data-items='4', data-auto-play='true', data-pagination='false', data-single-item='false')
            each produto in novidades
                if produto.imagem
                    // Carousel item
                    .owl-content
                        a.lightbox(href='#{produto.imagem.url}')
                            img.img-responsive.img-thumbnail(src='#{produto.imagem.url}', alt='')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h4
                            a(href='/produtos/#{produto._id}') #{produto.titulo}
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        a.btn.btn-color.btn-xs(href='/produtos/#{produto._id}') Ver mais
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
        // Owl carousel block ends
    | &#x9;&#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;&#x9;
    br

    | &#x9;&#x9;&#x9;&#x9;
    .cta-six
        // Container
        .container
            // CTA Six Content
            .cta-six-content
                .row
                    .col-md-9
                        h4 Não encontrou algo? Quer mais detalhes?
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    .col-md-3
                        a.btn.btn-lg(href='/contato')
                            i.fa.fa-at
                            | &nbsp; Entre em Contato
    | &#x9;&#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;&#x9;
    br

    | &#x9;&#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;&#x9;&#x9;
    | &#x9;&#x9;&#x9;&#x9;
    .container.hidden
        .block-heading-two.text-center
            h3
                span Timeline
        // Time line row
        .h-timeline-row
            .row
                .col-md-3
                    // time line content entry
                    .entry.br-red.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.red
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-trophy.entry-icon.bg-red
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3
                    // time line content entry
                    .entry.br-green.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.green
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-user.entry-icon.bg-green
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3
                    // time line content entry
                    .entry.br-lblue.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.lblue
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-paw.entry-icon.bg-lblue
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3
                    // time line content entry
                    .entry.br-blue.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.blue
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-bullhorn.entry-icon.bg-blue
        // Time line row
        .h-timeline-row
            .row
                .col-md-3
                    // time line content entry
                    .entry.br-orange.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.orange
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-rocket.entry-icon.bg-orange
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3
                    // time line content entry
                    .entry.br-yellow.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.yellow
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-taxi.entry-icon.bg-yellow
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3
                    // time line content entry
                    .entry.br-purple.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.purple
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-car.entry-icon.bg-purple
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3
                    // time line content entry
                    .entry.br-rose.br-size-2
                        // Time line entry content
                        .entry-content
                            // Time line entry meta
                            .meta
                                i.fa.fa-clock-o.rose
                                | &nbsp; Apr 26, 2014
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            h4
                                a(href='#') Gpsam volu ptate
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            p
                                | Nemo enim ipsam vo lu ptate qu ia v olu ptas sit as aut fugit, sed quia con sequu ntur magni eos qui ratione.
                        // Icon
                        i.fa.fa-tree.entry-icon.bg-rose
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .divider-1
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .block-heading-two
            h3
                span Testimonials
        // Testimonial with carousel
        .testimonials-one
            // Navigation
            .owl-nav
                a.owl-nav-prev
                    i.fa.fa-chevron-left
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a.owl-nav-next
                    i.fa.fa-chevron-right
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #owl-carousel.owl-carousel(data-items='3', data-auto-play='true', data-pagination='false', data-single-item='false')
                // Carousel item starts
                .owl-content
                    // Testimonials one Item
                    .testimonials-one-item
                        .testimonials-one-content
                            p
                                | At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores odio dignis simos ducimus.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                            a(href='#')
                                | Frank Helan
                                img.img-responsive.img-circle(src='/publiciti/img/user/4.jpg', alt='')
                // Carousel item ends
                .owl-content
                    // Testimonials one Item
                    .testimonials-one-item
                        .testimonials-one-content
                            p
                                | At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores odio dignis simos ducimus.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                            a(href='#')
                                | Rejina Peter
                                img.img-responsive.img-circle(src='/publiciti/img/user/3.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .owl-content
                    // Testimonials one Item
                    .testimonials-one-item
                        .testimonials-one-content
                            p
                                | At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores odio dignis simos ducimus.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                            a(href='#')
                                | Rejina Frank
                                img.img-responsive.img-circle(src='/publiciti/img/user/2.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .owl-content
                    // Testimonials one Item
                    .testimonials-one-item
                        .testimonials-one-content
                            p
                                | At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores odio dignis simos ducimus.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                            a(href='#')
                                | T. Volupuilu
                                img.img-responsive.img-circle(src='/publiciti/img/user/1.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .owl-content
                    // Testimonials one Item
                    .testimonials-one-item
                        .testimonials-one-content
                            p
                                | At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores odio dignis simos ducimus.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                            a(href='#')
                                | Jhon Eloruk
                                img.img-responsive.img-circle(src='/publiciti/img/user/2.jpg', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .owl-content
                    // Testimonials one Item
                    .testimonials-one-item
                        .testimonials-one-content
                            p
                                | At vero eos et accusamus et iusto odio dignis simos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores odio dignis simos ducimus.
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        h5
                            a(href='#')
                                | Rackham Son
                                img.img-responsive.img-circle(src='/publiciti/img/user/4.jpg', alt='')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .divider-1
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .block-heading-two
            h3
                span Clients
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .client-two
            .row
                .col-md-3.col-sm-6
                    // Client Two Item
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-1.png', alt='')
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Client Two
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-2.png', alt='')
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Client Two
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-3.png', alt='')
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Client Two
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-4.png', alt='')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .row
                .col-md-3.col-sm-6
                    // Client Two Item
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-5.png', alt='')
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Client Two
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-6.png', alt='')
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Client Two
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-1.png', alt='')
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .col-md-3.col-sm-6
                    // Client Two
                    .c2-item
                        a(href='#')
                            img.img-responsive(src='/publiciti/img/clients/c2-2.png', alt='')