doctype
html(lang='pt', ng-app='painel')
  head
    // start: Meta
    meta(charset='utf-8')
    title=site.nome
      | &nbsp; - Painel de Controle
    meta(name='description', content='Painel de Controle')
    meta(name='author', content='Thiago Paes')
    meta(name='keyword', content='painel, controle, gerenciador,conteúdo')
    meta(name='site_id', content='#{site._id}')
    // end: Meta

    // start: Mobile Specific
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // end: Mobile Specific
    
    // start: CSS
    link(href='/painel/assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='/painel/assets/css/style.min.css', rel='stylesheet')
    link(href='/painel/assets/css/retina.min.css', rel='stylesheet')
    // end: CSS

    // The HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
      script(src='/painel/assets/js/respond.min.js')
      link(href='/painel/assets/css/ie.css', rel='stylesheet')
    //if IE 9
      link#ie9style(href='/painel/assets/css/ie9.css', rel='stylesheet')

    // start: Favicon and Touch Icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/painel/assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/painel/assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/painel/assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/painel/assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/painel/assets/ico/favicon.png')
    // end: Favicon and Touch Icons
  body
    // start: Header
    .navbar
      .navbar-inner
        .container
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-nav.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/painel')
            span= site.nome
             | &nbsp;- Painel de Controle
          // start: Header Menu
          .nav-no-collapse.header-nav
            ul.nav.pull-right
              li
                a.btn(href='/')
                  i.halflings.home.white
              // start: User Dropdown
              li.dropdown
                a.btn.dropdown-toggle(data-toggle='dropdown')
                  i.halflings.user.white
                  span= usuario.email
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='#/empresa')
                      i.halflings.user.white
                      |  Perfil
                  li
                    a(href='/logout')
                      i.halflings.off.white
                      |  Sair
              // end: User Dropdown
          // end: Header Menu
    // start: Header
    .container
      .row
        // start: Main Menu
        #sidebar-left.col-sm-1
          .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
            - var icons = {atuacao: 'bullhorn', clientes: 'briefcase', contato: 'envelope', curriculos: 'files-o', empregos: 'suitcase',  equipe: 'users', livros: 'book', orcamentos: 'money', parceiros: 'sitemap', servicos:'gears', sites: 'globe', slides: 'film', uniformes: 'female', usuarios: 'group', empresa: 'globe', aviso: 'envelope', parques: 'smile-o' }

            ul.nav.nav-tabs.nav-stacked.main-menu
              li
                a(href='#/')
                  i.fa.fa-home
                  span.hidden-sm  Início

              each modulo, index in site.modulos
                li
                  a(href='#/' + modulo)
                    i.fa(class='fa-' + icons[modulo])
                    span.hidden-sm= modulo

        a#main-menu-toggle.hidden-xs.open
          i.fa.fa-bars
        // end: Main Menu

        -if(message)
        div#note #{message}

        // start: Content
        #content.col-sm-11
          .row(ng-view)
          // /row
        // end: Content

        // start: Widgets Area
        #widgets-area.col-sm-2
          ul#myTab.nav.tab-menu.nav-tabs
            li.active
              a(href='#/charts')
                i.fa.fa-bar-chart-o
            li
              a(href='#/users')
                i.fa.fa-group
            li
              a(href='#/messages')
                i.fa.fa-envelope
            li
              a#close-widgets-area(href='#/')
                i.fa.fa-sign-in
          #myTabContent.tab-content
            #charts.tab-pane.active
              .bar-stat
                span.title Account balance
                span.value $19 999,99
                span.chart.green 7,3,2,6,6,3,9,0,1,4
              hr
              .bar-stat
                span.title Clients
                span.value 1278
                span.chart.yellow 8,2,5,4,7,4,7,2,5,9
              hr
              .bar-stat
                span.title Orders
                span.value 5876
                span.chart.blue 2,4,6,8,3,5,9,3,2,2
              hr
              .bar-stat
                span.title Messages
                span.value 673
                span.chart.red 0,3,3,8,3,3,2,7,8,4
              hr
              #cpu-usage
              ul.progress-bars
                li
                  span.title Free Memory
                  span.percent
                  .taskProgress.progressSlim.progressGreen 80
                li
                  span.title Free HDD Drive
                  span.percent
                  .taskProgress.progressSlim.progressYellow 20
                li
                  span.title Free SSD Drive
                  span.percent
                  .taskProgress.progressSlim.progressBlue 57
                li
                  span.title Transfer
                  span.percent
                  .taskProgress.progressSlim.progressRed 45
            #users.tab-pane
              ul.users-list
                li
                  a(href='#/')
                    span.status.active
                    span.avatar
                      img.img-circle(src='/painel/assets/img/avatar.jpg', alt='Avatar')
                    span.name &Lstrok;ukasz Holeczek
                li
                  a(href='#/')
                    span.status.busy
                    span.avatar
                      img.img-circle(src='/painel/assets/img/avatar2.jpg', alt='Avatar')
                    span.name Megan Abott
                li
                  a(href='#/')
                    span.status.disable
                    span.avatar
                      img.img-circle(src='/painel/assets/img/avatar3.jpg', alt='Avatar')
                    span.name Kate Ross
                li
                  a(href='#/')
                    span.status.active
                    span.avatar
                      img.img-circle(src='/painel/assets/img/avatar4.jpg', alt='Avatar')
                    span.name Julie Blank
                li
                  a(href='#/')
                    span.status
                    span.avatar
                      img.img-circle(src='/painel/assets/img/avatar5.jpg', alt='Avatar')
                    span.name Jane Sanders
                li
                  a(href='#/') View all users
            #messages.tab-pane
              ul.messages-list
                li
                  a(href='#/')
                    .avatar
                      img.img-circle(src='/painel/assets/img/avatar.jpg', alt='Avatar')
                    span.name &Lstrok;ukasz Holeczek
                    span.date 25/6/2013
                    span.title Custom Bootstrap design for new client
                li
                  a(href='#/')
                    .avatar
                      img.img-circle(src='/painel/assets/img/avatar2.jpg', alt='Avatar')
                    span.name Megan Abott
                    span.date 25/6/2013
                    span.title Custom Bootstrap design for new client
                li
                  a(href='#/')
                    .avatar
                      img.img-circle(src='/painel/assets/img/avatar3.jpg', alt='Avatar')
                    span.name Kate Ross
                    span.date 25/6/2013
                    span.title Custom Bootstrap design for new client
                li
                  a(href='#/')
                    .avatar
                      img.img-circle(src='/painel/assets/img/avatar4.jpg', alt='Avatar')
                    span.name Julie Blank
                    span.date 25/6/2013
                    span.title Custom Bootstrap design for new client
                li
                  a(href='#/')
                    .avatar
                      img.img-circle(src='/painel/assets/img/avatar5.jpg', alt='Avatar')
                    span.name Jane Sanders
                    span.date 25/6/2013
                    span.title Custom Bootstrap design for new client
                li
                  a(href='#/') View all messages
        // end: Widgets Area
        a#widgets-area-button.hidden-sm.hidden-xs.open
          i.fa.fa-bars
      // /row
      #myModal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4.modal-title Modal title
            .modal-body
              p Here settings can be configured...
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
          // /.modal-content
        // /.modal-dialog
      // /.modal
    // /container
    .clearfix
    footer
      p
        span(style='text-align:left;float:left')
          | &copy; 2014 &nbsp; - &nbsp;
          span= site.nome
            | &nbsp;
          a(href=site.url) &nbsp;
          span= site.dominio
          |  by mrprompt
    // start: JavaScript
    //if !IE
    script(src='/painel/assets/js/jquery-2.0.3.min.js')
    // <![endif]
    //if IE
      script(src='/painel/assets/js/jquery-1.10.2.min.js')
    //if !IE
    script(type='text/javascript').
      window.jQuery || document.write("<script src='/painel/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    // <![endif]
    //if IE
      script(type='text/javascript').
        window.jQuery || document.write("<script src='/painel/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    script(src='/painel/assets/js/jquery-migrate-1.2.1.min.js')
    script(src='/painel/assets/js/bootstrap.min.js')
    // page scripts
    script(src='/painel/assets/js/jquery-ui-1.10.3.custom.min.js')
    script(src='/painel/assets/js/jquery.sparkline.min.js')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='/painel/assets/js/excanvas.min.js')

    script(src='/painel/assets/js/jquery.chosen.min.js')
    script(src='/painel/assets/js/jquery.cleditor.min.js')
    script(src='/painel/assets/js/jquery.autosize.min.js')
    script(src='/painel/assets/js/jquery.placeholder.min.js')
    script(src='/painel/assets/js/jquery.maskedinput.min.js')
    script(src='/painel/assets/js/jquery.inputlimiter.1.3.1.min.js')
    script(src='/painel/assets/js/jquery.flot.min.js')
    script(src='/painel/assets/js/jquery.flot.pie.min.js')
    script(src='/painel/assets/js/jquery.flot.stack.min.js')
    script(src='/painel/assets/js/jquery.flot.resize.min.js')
    script(src='/painel/assets/js/jquery.flot.time.min.js')
    script(src='/painel/assets/js/retina.min.js')
    script(src='/painel/assets/js/raphael.min.js')
    script(src='/painel/assets/js/justgage.1.0.1.min.js')
    script(src='/painel/assets/js/jquery.hotkeys.min.js')
    script(src='/painel/assets/js/bootstrap-wysiwyg.min.js')
    script(src='/painel/assets/js/justgage.1.0.1.min.js')

    script(src='/painel/assets/js/bootstrap-datepicker.min.js')
    script(src='/painel/assets/js/bootstrap-timepicker.min.js')
    script(src='/painel/assets/js/moment.min.js')
    script(src='/painel/assets/js/daterangepicker.min.js')
    script(src='/painel/assets/js/bootstrap-colorpicker.min.js')
    script(src='/painel/assets/js/raphael.min.js')

    // theme scripts
    script(src='/painel/assets/js/custom.min.js')
    script(src='/painel/assets/js/uncompressed/core.js')

    // application scripts
    script(src='/plugins/angular-file-upload/dist/angular-file-upload-shim.min.js')
    script(src='/plugins/angularjs/angular.min.js')
    script(src='/plugins/angularjs/i18n/angular-locale_pt-br.js')
    script(src='/plugins/angularjs/angular-resource.min.js')
    script(src='/plugins/angularjs/angular-route.min.js')
    script(src='/plugins/angularjs/angular-sanitize.min.js')
    script(src='/plugins/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='/plugins/angular-input-masks/releases/masks.min.js')
    script(src='/plugins/localidades/cidades-estados-1.2-utf8.js')

    script(src='/painel/app/app.js')
    script(src='/painel/app/services.js')
    script(src='/painel/app/filters.js')
    script(src='/painel/app/directives.js')
    script(src='/painel/app/controllers/inicio.js')
    script(src='/painel/app/controllers/clientes.js')
    script(src='/painel/app/controllers/servicos.js')
    script(src='/painel/app/controllers/atuacao.js')
    script(src='/painel/app/controllers/empregos.js')
    script(src='/painel/app/controllers/curriculos.js')
    script(src='/painel/app/controllers/parceiros.js')
    script(src='/painel/app/controllers/equipe.js')
    script(src='/painel/app/controllers/orcamentos.js')
    script(src='/painel/app/controllers/slides.js')
    script(src='/painel/app/controllers/livros.js')
    script(src='/painel/app/controllers/uniformes.js')
    script(src='/painel/app/controllers/contato.js')
    script(src='/painel/app/controllers/empresa.js')
    script(src='/painel/app/controllers/aviso.js')
    script(src='/painel/app/controllers/parques.js')
    // end: JavaScript