extends ../layout.jade

block conteudo
  - var pagina = JSON.parse(conteudo)
  header#home.header
    #main-nav.navbar.navbar-inverse.bs-docs-nav(role='banner')
      .container
        .navbar-header.responsive-logo
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Navegação
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') 
            span 
              | NXT Challenger

        nav.navbar-collapse.bs-navbar-collapse.collapse(role='navigation', style='height: 1px;')
          ul.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list
            li
              a(href='#home') Início

            li
              a(href='#aboutus') Empresa

            if pagina.livros
              if pagina.livros.length
                li
                  a(href='#products') Livros

            li
              a(href='#contact') Contato

    .container
      h1.intro NXT Challenger 
      h2 Comércio e Representações

      .row
        .span12

          p 
            | RUA DR. HEITOR BLUM, 310, SALA 1002 - ED. VITÓRIA OFFICE - ESTREITO - FLORIANÓPOLIS - SC

      .row.bottom-message-section
        .col-lg-4.col-sm-4
          .short-text
            i.icon.icon-fontawesome-webfont-358
            | Atendimento de excelência
        .col-lg-4.col-sm-4
          .short-text
            i.icon-fontawesome-webfont-286
            | Soluções educacionais de qualidade
        .col-lg-4.col-sm-4
          .short-text
            i.icon-fontawesome-webfont-347
            | Satisfação garantida

  #main-wrapper(ng-controller='Inicio')
      section#aboutus.about-us(ng-init='carrega()')
        .container
          .section-header
            h2.white-text A NXT Challenger
            h6.white-text
              | COMÉRCIO E REPRESENTAÇÕES
          .row
            .col-lg-4.col-md-4.column
              .big-intro.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                | Entregando soluções educacionais de qualidade desde 2009.
            .col-lg-4.col-md-4.column
              p.wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                | Em 2009 nascia a NXT CHALLENGER, oriunda de uma longa trajetória, de seu sócio fundador, em negócios com livros. 
              p
                | A empresa, visando sempre incentivar a educação, os hábitos de leitura e os estudos, oferece em parceria com outras editoras, soluções educacionais através de projetos editoriais, livros didáticos, paradidáticos, literaturas e coleções audiovisuais. Além disso, oferece apoio aos educadores com materiais pedagógicos.
              p
                | Atende aos Programas Nacionais do Ministério da Educação, bem como segmentos de governos,  Estaduais e Municipais.

            .col-lg-4.col-md-4.column
              ul.skills.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                li.skill
                  h6 PNLA
                  p
                    | Programa Nacional do Livro Didático para a Alfabetização de Jovens e Adultos (PNLA) - 2008.
                li.skill
                  h6 PNBE
                  p
                    | Programa Nacional Biblioteca da Escola (PNBE) - 2009.
                li.skill
                  h6 PNLD
                  p
                    | Programa Nacional do Livro Didático (PNLD) - 2010.
                li.skill
                  h6 PNBE
                  p
                    | Programa Nacional Biblioteca da Escola (PNBE) - 2011.
                li.skill
                  h6 PNBE do Professor
                  p
                    | Programa Nacional Biblioteca da Escola (PNBE do Professor) - 2013.
          .row
            .col-lg-4.col-md-4.column
              .wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                h3 Missão
                p
                  | Atender com excelência nossos clientes. Promover e incentivar a cultura, levando o conhecimento a todos os brasileiros e oferecendo soluções educacionais de qualidade.
            .col-lg-4.col-md-4.column
              .wow.fadeInUp.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                h3 Visão
                p
                  | Tornar-se empresa de referência e reconhecida como agente de mudanças educacionais que contribui para transformar alunos/educandos, educadores e sociedade em geral.

            .col-lg-4.col-md-4.column
              .wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                h3 Valores
                p
                  b Valores que norteiam a NXT CHALLENGER 
                  br
                  | - Valorização humana e o crescimento pessoal individual e coletivo
                  br
                  | - Comprometimento com a educação e seus resultados
                  br
                  | - Melhoria contínua nos serviços e produtos ofertados

          if pagina.parceiros
            .our-clients
              h5
                span.section-footer-title Nossos parceiros
            .client-list
              ul.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                each parceiro in pagina.parceiros
                  if parceiro.imagem
                    - var logo = JSON.parse(parceiro.imagem)
                    li
                      a(href='#{parceiro.url}')
                        img(src='#{logo.url}', alt='logo de #{parceiro.nome}')

      if pagina.livros
        if pagina.livros.length
          section#products.products(data-type='background', data-speed='1')
            .color-overlay
              .container
                .section-header
                  h2.white-text Livros
                  h6.white-text
                    | Livros com selo NXT Challenger
                .row.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                  each livro in pagina.livros
                    if livro.imagem
                      - var capa = JSON.parse(livro.imagem)
                      .col-md-3
                        .item
                          .item-overlay
                          .item-content
                            .item-top-content
                              .item-top-content-inner
                                .item-product
                                  .item-image
                                    a(href='/livros/#{livro._id}')
                                      img(src='#{capa.url}', width="230")
                                  .item-top-title
                                    h5 #{livro.titulo}

      section#contact.contact-us
        .container
          .section-header
            h2.white-text Entre em Contato
            h6.white-text
              | Dúvidas ou sugestões?
          .row
            div(class='alert alert-{{ status.type }}', ng-show='status')
                button(type='button', class='close', data-dismiss='alert') &times;
                | {{ status.message}}

            form.contact-form(role='form', ng-submit='enviaContato()', name='contatoForm', novalidate)
              .wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s')
                .col-lg-4.col-sm-4(ng-class="{ 'has-error' : contatoForm.nome.$invalid && !contatoForm.nome.$pristine }")
                  input.form-control.input-box(type='text', name='nome', placeholder='Seu nome', ng-model='contato.nome', ng-minlength=5, required)
                  p(ng-show='contatoForm.nome.$invalid && !contatoForm.nome.$pristine', class='help-block') Nome muito curto ou inválido

                .col-lg-4.col-sm-4(ng-class="{ 'has-error' : contatoForm.email.$invalid && !contatoForm.email.$pristine }")
                  input.form-control.input-box(type='email', name='email', placeholder='Seu Email', ng-model='contato.email', required)
                  p(ng-show='contatoForm.email.$invalid && !contatoForm.email.$pristine', class='help-block') E-mail inválido

                .col-lg-4.col-sm-4(ng-class="{ 'has-error' : contatoForm.telefone.$invalid && !contatoForm.telefone.$pristine }")
                  input.form-control.input-box(type='text', name='telefone', placeholder='Telefone de contato', ng-model='contato.telefone', required, ui-br-phone-number)
                  p(ng-show='contatoForm.nome.$invalid && !contatoForm.nome.$pristine', class='help-block') Telefone inválido

              .col-md-12.wow.fadeInRight.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s', ng-class="{ 'has-error' : contatoForm.email.$invalid && !contatoForm.email.$pristine }")
                textarea.form-control.textarea-box(rows='15', placeholder='Sua Mensagem', name='mensagem', ng-model='contato.mensagem', ng-minlength=5, required)
                p(ng-show='contatoForm.mensagem.$invalid && !contatoForm.mensagem.$pristine', class='help-block') Mensagem muito curta

              button.btn.custom-button.red-btn.wow.fadeInLeft.animated(data-wow-offset='30', data-wow-duration='1.5s', data-wow-delay='0.15s', type='submit', ng-disabled='contatoForm.$invalid') Enviar

      footer
        .container
          .col-md-5.company-details
            .icon-top.red-text
              i.icon-fontawesome-webfont-302
            | RUA DR. HEITOR BLUM, 310, SALA 1002 - ED. VITÓRIA OFFICE - ESTREITO - FLORIANÓPOLIS - SC
          .col-md-2.company-details
            .icon-top.green-text
              i.icon-fontawesome-webfont-329
            | contato@nxtchallenger.com.br
          .col-md-2.company-details
            .icon-top.blue-text
              i.icon-fontawesome-webfont-101
            | (48) 3024-0287
          .col-lg-3.col-sm-3.copyright
            ul.social
              li
                a(href='')
                  i.icon-facebook
              li
                a(href='')
                  i.icon-twitter-alt
              li
                a(href='')
                  i.icon-linkedin
              li
                a(href='')
                  i.icon-behance
              li
                a(href='')
                  i.icon-dribbble
            | ©2014 NXT Challenger

