extends ../layout

block conteudo
  .scope
    //
       ======== @Region: #highlighted ========
    #highlighted
      .container
        .header
          h2.page-title
            span Serviços
            small Serviços prestados
    
    if atuacao.length
      //
         ======== @Region: #content ========
      #content
        .container
          .block.services
            ul.thumbnails.row
              each row in atuacao
                li.col-md-3
                  h3.title
                    i.glyphicon.glyphicon-wrench.icon-small.icon-inverse-80._icon-circle
                    | #{row.titulo}
                  p !{row.descricao}

            if servicos
              .secondary.block.margin-top-large
                .row
                  .col-sm-12
                    h3.block-title
                      span Atividades

                    ul.list-unstyled.columns
                      each servico in servicos
                        li
                          i.glyphicon.glyphicon-ok.text-info &nbsp;
                          | #{servico.titulo}

    if parceiros.length
      //
         ======== @Region: #content-below ========
      #content-below.wrapper
        .container
          .clients.block
            h3.block-title
              span Parceiros

            ul.thumbnails.list-unstyled.row
              each parceiro in parceiros
                if parceiro.imagem
                  li.col-sm-3
                    a._tooltip(href='/parceiros/#{parceiro._id}', data-placement='top', data-original-title='#{parceiro.nome}', title='#{parceiro.nome}')
                      img.img-rounded(src='#{parceiro.imagem.url}', alt='logo')